$menu-top: 75px;

.projects {
  .entry-header {
    margin-left: 0;
    margin-right: 0;
  }
}

.project {
  margin-bottom: 2rem; 
  
  @include media('screen', '>=tablet') {
    margin-bottom: 0;
  }
}

.table__projects--child {
  cursor: pointer;

  @include media('screen', '<tablet') {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.table__projects {  
  @include media('screen', '>=tablet') {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 2790px;
  }

  .image img {
    width: auto;
    max-height: 500px;
  }

  &--image {
    @include media('screen', '>=tablet') {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      height: 50px;
    }
  }

  &--child {
    // display: none;
    &.one-space {
      width: 56.38px;
    }
    &.two-column {
      width: 112.76px;
    }

    &.white--child {
      width: 56.38px;
      // height: 57px;
    }
  }
}

/*.content-area {
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent
  &:after {
    // content: '';
    // @include background(linear-gradient(to left, white, transparent));
    // &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 53px;
      height: 52px;
      width: 40%;
      background-size: 100%;
      background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
      pointer-events: none;
      @include transition(all .5s linear);
    // }

  }
}*/

.site-main.projects {
  .entry-content {
    @include media('screen', '<767px') {
      margin-left: -1.55rem;
    }

    .flickity-viewport {
      @include media('screen', '<767px') {
        max-height: 414px;
      }
    }
    .flickity-prev-next-button.previous {
      left: 20px;
    }
    .flickity-prev-next-button.next {
      right: 20px;
    }
  }
}

@include media('screen', '>=tablet') {
  .type-project {
    position: relative;
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 53px;
      height: 52px;
      width: 15%;
      background-size: 100%;
      background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
      pointer-events: none;
      @include transition(all .5s linear);
    }
  }
}

.custom--content {
  &__link,
  &__excerpt {
    @include font-size(.9);
    text-decoration: none;

    @include media('screen', '>=tablet') {
      font-size: 2.2px;
    }
  }

  &__link {
    &:hover {
      color: grey;
    }
  }

  &__text {
    display: none;
  }
}

.custom--content-box {
  @include font-size(.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 2;
  padding-left: 1.55rem;
  padding-right: 1.55rem;
  
  @include media('screen', '>=tablet') {
    height: 50px;
    width: 50px;
    font-size: 2.2px;
    padding-left: 0;
    padding-right: 0;
  }

  .custom--content__link-main {
    font-weight: 300;

    .lightbox-enabled & {
      cursor: default;
    }
    
    &:hover {
      color: inherit;
    }
  }

  &.slide {
    widows: 100%;
    font-size: 1rem;
    
    .lightbox .slider & {
      align-items: flex-start;
    }
  }

  p, h6 {
    margin: 0;
  }
}

.custom--content__excerpt {
  .slide & {
    width: 620px;
    max-width: 620px;
  }
}

.custom--content {
  &__link,
  &__excerpt {
    .slide & {
      font-size: 1rem;
    }
  }
}

.page-template-projects {
  .featherlight {
    text-align: left;
    white-space: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:last-of-type {
      background: rgba(255,255,255, 1);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: 101;
      padding-top: 80px;

      @include media('screen', '>tablet') {
        top: 75px;
        padding-top: 0;
      }
    }

    &:before {
      content: none;
    }
    
    .featherlight-content {
      @include media('screen', '<tablet') {
        margin: 0;
        padding-left: 1.55rem;
        padding-right: 1.55rem;
      }
    }
    // .featherlight-content {
      // background: rgba(255,255,255, 1);
      // display: flex;
      // height: 100%;
      // justify-content: flex-start;
      // margin-left: 0;
      // margin-right: 0;
      // overflow: auto;
      // padding: 0;
      // position: relative;
      // text-align: inherit;
      // vertical-align: inherit;
      // white-space: inherit;
      // width: 100%;
    // }

    .featherlight-close-icon {
      cursor: pointer;
      @include font-size(1.3);
      position: absolute;
      right: 1.45rem;
      top: -5px;
    }
    
    .featherlight-inner {
      @include one-column();
    }

    .custom--content__text.featherlight-inner + .custom--content__text.featherlight-inner { display: none; }

    .custom--content__text {
      margin-top: 1.55rem;

      @include media('screen', '>=tablet') {
        margin-top: 0;
      }

      @include media('screen', '>=tablet', 'portrait') {
        padding-left: 0.5rem;
      }

      h6 {
        @include font-size(.9);
        margin-top: 0;
        margin-bottom: 0;

        &:last-of-type {
          margin-bottom: 1rem;
        }
      }
      
      p {
        @include font-size(.9);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.flickity-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include media('screen', '>=767px') {
  .page-template-projects {
    .flickity-enabled {
      position: relative;
      
      &:focus { 
        outline: none;
      }
      
      &.flickity-enabled.is-draggable {
        user-select: none; 
        
        .flickity-viewport {
          cursor: move;
          cursor: -webkit-grab;
          cursor: grab;
        }
        
        .flickity-viewport.is-pointer-down {
          cursor: grabbing;
        }
      }
      
      .flickity-viewport {
        overflow: hidden;
        position: relative;
        width: 100%;
        // height: 100% !important;
        @include media('screen', '>desktop') {
          margin-top: 3.5rem;
          max-height: 570px;
        }
        @include media('screen', '>1280px') {
          max-height: 753px;
        }
      }
      
      .flickity-slider {
        position: absolute;
        width: 100%;
      }
    }
  }
}

.lightbox {
	background: rgba(255,255,255, 1);
  position: fixed;
  top: 0;
	right: 0;
	bottom: 0;
  left: 0;
  padding-top: 85px;
	overflow: hidden;
  z-index: 100;
  
	.slider {
		width: 100%;
		height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
		
		.slide {
			width: 50%;
      height: 100%;
      margin-left: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;

			.frame {
        padding: 4rem;

				.valign {
          img {
            max-width: 100%;
            max-height: 550px;
            
            @include media('screen', '>desktop') {
              max-height: 620px;
            }

            @include media('screen', '>1280px') {
              max-height: 780px;
            }
            
            @include media('screen', '>1280px', 'retina2x') {
              max-height: 550px;
            }
          }
				}
			}
		}
	}
  
  // styling for lightbox
	
	.exit {
		position: absolute;
		top: $menu-top;
		right: 1.55rem;
    padding: 10px 0;
    text-align: center;
		cursor: pointer;
  }
  
  .exit.is-active .burger-icon {
    @include burger-to-cross;
  }
  	
	.prev, .next {
		position: absolute;
		top: 50%;
    margin-top: -22px;
    padding: 10px 0;
    text-align: center;
    background: #ddd;
		cursor: pointer;
	}
	
	.prev {
		left: 0;
	}
	
	.next {
		right: 0;
	}
}

.slide img {
  transition: opacity 0.4s;
  opacity: 0;
}

.lightbox-enabled {
  overflow: hidden;

  .slide {
    img {
      &.flickity-lazyloaded,
      &.flickity-lazyerror {
        opacity: 1;
      }
    }
  }
}

.lightbox .project__title {
  position: absolute;
  top: $menu-top;
  left: 1.55rem;
  z-index: 100;
}

// .placeholder {
//   background-color: #f6f6f6;
//   background-size: cover;
//   background-repeat: no-repeat;
//   position: relative;
//   overflow: hidden;
//  } 
  
//  .placeholder img {
//   position: absolute; 
//   opacity: 0;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transition: opacity 1s linear;
//  }
//  .placeholder img.loaded {
//   opacity: 1;
//  }
//  .img-small {
//   filter: blur(50px);
//  }
