.table__projects {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 2790px;

  &--image {
    height: 50px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  &--child {
    // display: none;
    &.one-space {
      width: 56.38px;
    }
    &.two-column {
      width: 112.76px;
    }

    &.white--child {
      width: 56.38px;
      // height: 57px;
    }
  }
}

.content-area {
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent
  // @include background(linear-gradient(to right, white, #dddddd));
 }

.zoomTarget {
  .noScroll {
    .type-project:after {
      background: transparent;
    }
  }
}
.zoomNotClickable {
  .type-project {
    position: relative;
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 53px;
      height: 52px;
      width: 40%;
      background-size: 100%;
      background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
      pointer-events: none;
      @include transition(all .5s linear);
    }
  }
}

.custom--content {
  &-box {
    width: 60px;
    line-height: 2;
    text-align: center;
  }

  &__link,
  &__excerpt {
    font-size: 2.2px;
    text-decoration: none;
  }
  &__excerpt {
    width: 45px;
    margin: 0 auto;
    padding-top: 1rem;
  }

  &__link {
    &:hover {
      color: grey;
    }
  }

  &__text {
    display: none;
  }
}

.page-template-projects {
  .featherlight {
    &:last-of-type {
      background: rgba(255,255,255,.8);
    }
    &-content {
      width: 670px;
    }
  }
}

.flickity-enabled {
	position: relative;
	
	&:focus { 
		outline: none;
	}
	
	&.flickity-enabled.is-draggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
		
		.flickity-viewport {
			cursor: move;
			cursor: -webkit-grab;
			cursor: grab;
		}
		
		.flickity-viewport.is-pointer-down {
			cursor: -webkit-grabbing;
			cursor: grabbing;
		}
	}
	
	.flickity-viewport {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100% !important;
	}
	
	.flickity-slider {
		position: absolute;
		width: 100%;
	}
}

.lightbox {
	background: rgba(255,255,255, 0.9);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 999;
	
	.slider {
		width: 100%;
		height: 100%;
    display: flex;
    justify-content: center;
		
		.slide {
			width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
	
			.frame {
				// width: 66%;
				// height: 66%;

//				table-layout: fixed;
				
				.valign {
				// 	width: 100%;
				// 	height: 100%;
        //     			display: flex;
        // align-items:center;
        // justify-content: center;
					//display: table-cell;
					//text-align: center;
//					vertical-align: middle;
					// line-height: 0;

          img {
            max-width: 100%;
            height: auto;
          }
				}
			}
		}
	}
  
  // styling for lightbox
	
	.exit {
		position: absolute;
		top: 0;
		right: 0;
    width: 44px;
    padding: 10px 0;
    text-align: center;
    background: #ddd;
		cursor: pointer;
    
    &::after {
      content: 'exit';
    }
	}
	
	.prev, .next {
		position: absolute;
		top: 50%;
    margin-top: -22px;
    width: 44px;
    padding: 10px 0;
    text-align: center;
    background: #ddd;
		cursor: pointer;
	}
	
	.prev {
		left: 0;
    
    &::after {
      content: 'prev';
    }
	}
	
	.next {
		right: 0;
    
    &::after {
      content: 'next';
    }
	}
}