.table__projects {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 2790px;

  &--image {
    height: 50px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  &--child {
    &.one-space {
      width: 56.38px;
    }
    &.two-column {
      width: 112.76px;
    }

    &.white--child {
      width: 56.38px;
      // height: 57px;
    }
  }
}

.content-area {
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent
  // @include background(linear-gradient(to right, white, #dddddd));
 }

.type-project {
  position: relative;
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 54px;
    height: 50px;
    width: 15%;
    background-size: 100%;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
    pointer-events: none;
  }
}