.entry--header {
  &__link {
    text-decoration: none;

    &:hover {
      .entry--header {
        &__title,
        &__meta {
          @include transition(ease-in-out .35s);
          color: lighten(black,10%);
        }
      }
    }
  }

  &__title {
    font-size: 1.2rem;
  }

  &__meta {
    color: $color__link-visited;
  }

  &__img-wrapper {
    // display: flex;
    // @include justify-content(flex-end);
    // @include flex-direction(column);
    height: auto;
    @include media('screen','>tablet') {
      max-height: 500px;
    }
    
    .wp-post-image {
      max-width: 70%;
      height: 100%;
    }
  }
}