.entry--header {
  &__link {
    text-decoration: none;

    &:hover {
      .entry--header {
        &__title,
        &__meta {
          @include transition(ease-in-out .35s);
          color: lighten(black,10%);
        }
      }
    }
  }

  &__text {
    padding: 0 $padding__size;
    margin-top: .8rem;

    @include media('screen', '>tablet') {
      padding: 0;
    }
  }

  &__title {
    font-size: 1.2rem;
  }

  &__meta {
    color: $color__link-visited;
  }
}

.entry--header {
  &__img-wrapper {
    height: auto;

    @include media('screen','>tablet') {
      .single & {
        max-height: $max_height_images_single;
        margin-bottom: 2rem;
      }
    }
  }
}

.entry--header__img-wrapper {
  .wp-post-image {
    width: auto;
  }
}

.entry--header__img-wrapper {
  .wp-post-image {   
    max-height: $max_height_images--two-columns_default;
    
    .one-column & {
      @include media('screen', '>tablet') { 
        max-height: $max_height_images--one-column;
      }
    } 
    
    .two-columns & {
      max-height: $max_height_images--two-columns_default;
      @include media('screen', '>tablet') { 
        max-height: $max_height_images--two-columns;
      }
            
      @include media('landscape', 'retina2x' , '>tablet') { 
        max-height: 277px;
      }
    }
  }
}

.single {
  .one-column {
    .entry--header__img-wrapper {
      .wp-post-image {
        max-height: $max_height_images--two-columns_default;
        @include media('screen', '>tablet') { 
          max-height: $max_height_images--one-column;
        }
        @include media('screen', '>desktop') { 
          max-height: 769px;
        }
      }
    }
  }
}

.single {
  .entry--header__img-wrapper {
    .caption {
      font-size: .8rem;
      margin-top: .8rem;
      margin-bottom: 1rem;
      padding-left: 3.1rem;
      padding-right: 3.1rem;
      height: 30px;

      @include media('screen', '>=tablet') {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.entry--content {
  padding: 0 $padding__size;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

  @include media('screen', '>tablet') {
    padding: 0;
    margin-top: 0;
  }

  &__text {
    margin-top: .8rem;

    &-link {
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__title {
    @include font-size(1.2);
    font-weight: 100; 
  }

  &__meta {
    color: $color__link-visited;
  }
}

.entry--content__custom {
  p {
    @include font-size(.9);
    line-height: 23px;;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.entry-header {
  @include media('screen', '<tablet') {
    margin-left: -$padding__size;
    margin-right: -$padding__size;
  }

  @include media('screen', '>tablet') {
    .single & {
      max-height: $max_height_images_single;
    }

    .page-template-projects & {
      min-height: 0;
    }
  }
}

.image__type {
  &--default,
  &--thumbnail {
    .entry-header {
      display: flex;
      
      .entry--header__img-wrapper {
        align-self: flex-end;
      }
    }
  }
}

.entry-meta {
  padding: 0 $padding__size;

  @include media('screen', '>=tablet') {
    padding: 0;
  }
}
