.content-area {
  padding-left: 25px;
  padding-right: 25px;
}

.site-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: -1rem 0 -1rem;

  .type-publication {
    flex: 0 0 33.3333%;
    padding: 0 1rem 0 1rem;
  }
}

.entry--header {
  &__title {
    font-size: 1.2rem;
  }

  &__img-wrapper {
    @include display-flex;
    @include justify-content(flex-end);
    @include flex-direction(column);
    min-height: 20rem;
    
    .wp-post-image {
      max-width: 70%;
      height: 100%;
    }
  }
}