$size__site-main: 100%;
$size__site-sidebar: 25%;
$padding__size: 1.55rem;
$padding__size-for-box: 3rem;

$max_height_images--one-column: 515px;
$max_height_images--two-columns: 380px;
$max_height_images_single: 770px;