.site-footer {
  margin: 10% auto 0;
  width: 100%;
  // max-width: 85rem;
  // margin-top: 2rem;
  // padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: $padding__size;
  padding-right: $padding__size;
  font-size: .8rem;
  
  .page-template-projects & {
    margin: 0 auto;
  }
  
  @include media('screen', '<tablet') {
    margin-top: 25%;
  }
  
  .site-info {
    @include media('screen', '>tablet') {
      text-align: center;
    }

    p {
      @include font-size(0.675);

      @include media('screen', '>tablet') {
        @include font-size(1);
      }
    }
  }
}