// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin symbol-inside() {
	&:after {
		content: "\21A9";
		color: white;
		font-size: 1rem;
		margin-left: .5rem;
		display: inline-block;
		@include transition(all 0.5s);
		@include transform(translate(-20px,0));
		opacity: 0;
	}

	&:hover {
		&:after {
			color: black;
			@include transform(translate(5px,0));
			opacity: 1;
		}
	}
}
