.tailor-toggles {
  .tailor-toggle__title {
    display: inline;
    border-bottom: 1px solid grey;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin-bottom: .5rem;
    text-transform: uppercase;

    &:hover {
      color: #a09f9f;
      border-bottom-color: #a09f9f;
    }
  }

  .tailor-toggle {
    margin-bottom: 1.8rem;

    &__body {
      margin-top: 1.2rem;
      padding: 0;
      border: 0;

      &.show--text {
        display: block;
      }
    }
  }
}