.main-navigation--custom {
  background-color: rgba(235,235,235, 0.9);
  height: 100%;
  left: 0;
  margin: 0 0 0 -320px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 320px;
  z-index: 119;
  @include transition(all 200ms ease-in);
  
  .menu {
    list-style: none;
    margin: 0;
    padding-left: 1.4rem;
    padding-right: 1rem;

    li {
      margin-bottom: 0;
      list-style: none;
    }

    .sub-menu {
      padding-left: 1.5rem;
      margin-top: 1rem;
      margin-left: 0;

      li {
        margin-bottom: 1rem;

        &:first-child {
          margin-top: 1.3rem;
        }

        a {
          font-size: 1rem;
        }
      }
    }

    a {
      font-size: 1.12rem;
      text-decoration: none;
      font-weight: normal;
    }
  }
}

.main-navigation--custom  {
  .menu-item {
    &.current-menu-item {
      a {
        font-weight: 600;
      }
    }
  }
}
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  // margin: 0 0 0 -220px;
  @include transition(all 200ms ease-in);

  ul {
    // display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  
  li {
    position: relative;
  }
  
  a {
    display: block;
    text-decoration: none;
    font-size: 1.15rem;
  }
}

.main-navigation--custom {
  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    color: #111;
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.cbp-spmenu-open {
  margin-left: 0;
}

.menu-button {
  display: inline-block;
}

.burger-icon {
  @include burger(20px, 2px, 4px, #444);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

.menu {
  &.projects__menu {
    @include media ('screen', '<=phone') {
      margin-top: 6rem;
    }

    margin-top: 5rem;
  }
}

.navigation.back-to {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.45rem;
  width: 100%;
  
  .site-main & {
    padding-right: 0.6rem;

    @include media('screen', '>tablet') {
      padding-right: 0;
    }
  }
}

.projects__menu {
  .single-edtromp & {
    a[href*="editions-trompeloeil"] {
      color: #111;
      font-weight: bold;
    }
  }
  
  .single-comission & {
    a[href*="encargos"],
    a[href*="commandes"] {
      color: #111;
      font-weight: bold;
    }
  }

  .single-publication & {
    a[href*="publicaciones"],
    a[href*="publications"] {
      color: #111;
      font-weight: bold;
    }
  }
  
  .single-post & {
    a[href*="novedades"],
    a[href*="nouvelles"] {
      color: #111;
      font-weight: bold;
    }
  }
}
