.site-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: -1rem 0 -1rem;

  .type {
    &-publication,
    &-page,
    &-post {
      flex: 0 0 33.3333%;
      padding: 0 3.46154rem 6.92308rem;
    }
  }
}

.page-template-default {
  .site-main {
    .type-page {
      @include flex(1);
      padding: 0;
    }
  }
}