.sticky {
	display: block;
}

.hentry {
  width: 100%;
	margin: 0 0 3.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.posted-on {
  font-size: .9rem;
  color: grey;
}

.blog {
  .type-post {
    .entry-header {
      img {
        max-height: 638px;
      }
    }
  }
}
